{% extends "base_page.html" %}

{% block page_title %}
Декодирование битового пакета I2C
{% endblock %}

{% block page_lead %}
На этой странице вы можете декодировать битовый пакет I2C, выделяя биты флагов, биты данных, биты адреса и т.д.
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="i2c-form">
    <form method="post">
        {% csrf_token %}
        <div class="row px-5 py-2">
            <h3>Введите битовый пакет I2C</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-12">
                <label for="i2c_packet">Битовый пакет (в двоичном формате):</label>
                <input type="text" class="form-control input-lg" name="i2c_packet" id="i2c_packet" placeholder="Например: 10101000000101101001" required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary">Декодировать</button>
        </div>
    </form>
    {% if result %}
    <div class="row px-5 py-2">
        <h3>Результат декодирования:</h3>
        <pre>{{ result.binary }}</pre>
        <h3>Шестнадцатеричный формат (HEX):</h3>
        <pre>{{ result.hex }}</pre>
        <h3>Десятичный формат:</h3>
        <pre>{{ result.decimal }}</pre>
    </div>
    {% endif %}
</div>
{% endblock %}
