{% extends "base_page.html" %}

{% block page_title %}
Обновление перечня интерфейсов
{% endblock %}

{% block page_lead %}
В случае выхода каких-то обновлений интерфейсов или выхода новых интерфейсов на этой странице вы можите добавить информацию или дополнить существующую{% endblock %}


{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="email" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
                <div id="email-error" class="text-danger" style="display: none;">Пожалуйста, введите корректный email.</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Информация об интерфейсе</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_term">Наименование интерфейса</label>
                <input type="text" class="form-control input-lg" name="new_term" id="new_term">
            </div>
            <div class="col-md-8">
                <label for="new_definition">Описание</label>
                <textarea type="text" class="form-control input-lg" name="new_definition" id="new_definition" aria-describedby="definition_note" rows="3"></textarea>
                <div id="definition_note" class="form-text">Постарайтесь уложиться в одно, максимум два предложения</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-term/">Отправить</button>
        </div>
    </form>
</div>

{% endblock %}
